<div class="form-group">
  <label>Gauge label</label>
  <input type="text" ng-model="vis.params.labelGauge" class="form-control"/>
</div>
<div class="form-group">
  <label>Gauge min - {{ vis.params.minGauge }}</label>
  <input type="number" ng-model="vis.params.minGauge" class="form-control"/>
</div>
<div class="form-group">
  <label>Gauge max - {{ vis.params.maxGauge }}</label>
  <input type="number" ng-model="vis.params.maxGauge" class="form-control"/>
</div>
<div class="form-group">
    <label>Gauge Size {{ value }} - {{ vis.params.sizeGauge }}</label>
    <input type="range" ng-model="vis.params.sizeGauge" class="form-control" min="0" max="100" />
</div>
<div class="form-group">
  <label style="display:inline">Input thresholds as percentages?</label>
  <input type="checkbox" ng-model="vis.params.thresholdsAsPercentages" class="form-control"/>
</div>
<div class="form-group">
  <label>Gauge level1</label>
  <input type="number" ng-model="vis.params.level1Gauge" class="form-control"/>
  <input type="color" ng-model="vis.params.colorlevel1Gauge" class="form-control"/>
</div>
<div class="form-group">
  <label>Gauge level2</label>
  <input type="number" ng-model="vis.params.level2Gauge" class="form-control"/>
  <input type="color" ng-model="vis.params.colorlevel2Gauge" class="form-control"/>
</div>
<div class="form-group">
  <label>Gauge level3</label>
  <input type="number" ng-model="vis.params.level3Gauge" class="form-control"/>
  <input type="color" ng-model="vis.params.colorlevel3Gauge" class="form-control"/>
</div>
<div class="form-group">
  <label>Gauge level4</label>
  <input type="number" ng-model="vis.params.level4Gauge" class="form-control"/>
  <input type="color" ng-model="vis.params.colorlevel4Gauge" class="form-control"/>
</div>

